@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1.300; 1.400; 1.500; 1.700; 1.800; 1.900 & display = trocar ');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

.header{
    height: auto;
    background-color: black;
    margin-bottom: 2%;
}

.conteiner{
    display: inline-block;

}

.imagem-fundo{
    background-image: url("https://images5.alphacoders.com/481/481998.jpg");
}

.escudo{
    display: inline-block;
  
}

.escudo img{
    height: 10vh;
    width: 15;
}

.blocos{
    display: flex;
    flex-direction: row;   
}

.email-login {
    display: inline-block;  
}

form input {
    border: green solid 2px;
    height: 1.77em;
    margin: 0;
}

.navegacao {
    margin-left: 20em;
    display: inline-block;
}

.navegacao ul li{
    display: inline-block;
    padding: 0.2em;
    border-radius: 20%;
    background: rgb(21, 21, 143);
    font: "Thin 100";
    color: white;
    border: green solid 0.15em;
    
}

.historia {
    width: 50vh;
    height: 50vh;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    padding: 1em;
    background-color:#008d44aa;
}

.torneios {
    width: 50vh;
    height: 50vh;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    background-color: #008d44aa;
 }

h1{
    margin: 1.5%;
}

h2{
    margin: 1.5%;
}
.pulse {
    border: none;
    color: green;
    border: 0.2em solid;
    transition: 0.25s;
    padding: 0.1em;
}

.pulse:hover, .pulse:focus {
    color: black;
    border-color: greenyellow;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    animation: pulsar 1s;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 greenyellow;
    }
}

.rodape{
    height:200px;
    background-color:rgb(16, 31, 16);
}