@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1.300; 1.400; 1.500; 1.700; 1.800; 1.900 & display = trocar ');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}


.header{
    height: auto;
    background-color: black;
    margin-bottom: 5px;
}

.imagem-fundo{
    background-image: url("https://images5.alphacoders.com/481/481998.jpg");
}

.escudo{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 150px;
}

.blocos{
    display: flex;
    flex-direction: row;   
}

.email-login {
    right: 10px;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: inline-block;   
}

form input {
    border: green solid 2px;
    height: 23px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.navegacao {
    position: relative;
    margin-left: 300px;
    margin-top: 0px;
    display: inline-block;

}
.navegacao ul li{
    display: inline-block;
    padding: 2px;
    border-radius: 20%;
    background: rgb(21, 21, 143);
    font: "Thin 100";
    color: white;
    border: green solid 2px;
    
}

.historia {
    width: 50vh;
    height: 50vh;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-left: 20px;
    padding: 5px;
    background-color:#008d44aa;
}

.torneios {
    width: 50vh;
    height: 50vh;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: #008d44aa;
 }

h1{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h2{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 20px;

}
.pulse {
    border: none;
    color: green;
    border: 2px solid;
    transition: 0.25s;
    padding: 2px;
}

.pulse:hover, .pulse:focus {
    color: black;
    border-color: greenyellow;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 1s;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 greenyellow;
    }
}

.rodape{
    height:200px;
    background-color:rgb(16, 31, 16);
}